.start-screen {
  flex-direction: column;
  height: 100%;
  width: 55%;
  margin: auto;
}

.start-screen h1 {
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 36px;
}

.start-screen button {
  padding: 8px 24px;
  font-size: large;
  letter-spacing: 2px;
  margin: 32px;
}

.start-text > div { margin-bottom: 12px; }

.content {
  margin:auto;
  width: 100%;
}

.slider-component { width: 12%; }
.image-container { width: 70%; }

.image-container, .image-title, .start-screen, .start-screen div, .slider-component, .slider-labels,
.bottom-row, .top-row, .img-slider, .start-text {
  display: flex;
}
.image-container, .image-title, .start-screen, .start-screen div, .slider-component, .img-slider {
  justify-content: center;
}
.bottom-row, .top-row{ justify-content: flex-end; }
.slider-labels { justify-content: space-around; }
.slider-component, .slider-labels, .start-screen, .start-text { flex-direction: column; }
.slider-labels > div { text-align: right; }
.top-row, .start-screen { text-align: center; }

.sliders {
  display: inline-block;
  width: 100px;
}

.top-row>div {
  width: 32px;
  margin: 8px;
}

mat-slider { height: 450px; }

.progress { margin-top: 24px; }

.progress-text {
  text-align: center;
  margin-top: 8px;
  color: dimgrey;
}

img { height: 600px; }

.hidden { visibility: hidden; }
